<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
						 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<container>
			<register name="QuotePdf"
								type="PdfDocument.Abstractions.IPdfGenerator, PdfDocument.Abstractions"
								mapTo="PdfDocument.QuoteDocument.QuotePdf, PdfDocument.QuoteDocument">
				<lifetime type="transient"/>
				<constructor>
					<param name="theme">
						<dependency name="PdfTheme" />
					</param>
					<param name="imagePath"
								 value=".\Images"/>
					<param name="barcodeGenerator">
						<dependency name="BarcodeGenerator" />
					</param>
				</constructor>
				<property name="Services">
					<array>
						<value value="LTL"/>
						<value value="TL"/>
						<value value="CONS"/>
					</array>
				</property>
			</register>
		</container>
	</unity>
</configuration>